.filter-group{
    grid-column: 1/3;
}
.filter-group input{
    border: 2px solid #fff;
    border-radius: 5px;
    width: 30%;
    height: 40px;
    outline: none;
    background:none;
    padding: 0 10px;
}

.filter-list{
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.filter-item{
    cursor: pointer;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    transition: .3s;
}
.filter-item:hover{
    transform: translateY(-3px);
}
.active{
    box-shadow: 0 2px 2px #2222227c;
    color: #ff0087;
}

@media screen and (max-width: 768px) {
    .filter-group input{
        width: 100%;
    }
}